<div class="pageHome">
    <header class="header1">
        <h1 class="title">{{title}}</h1>
    </header>
    <ul class="d-flex flex-row text-center mainMenu">
        <li><a class="nextPage my_btn" href="http://localhost:3000">Index</a></li>
        <li><a class="nextPage my_btn" href="http://localhost:3000/about">About</a></li>
        <li><a class="nextPage my_btn" href="http://localhost:3000/accountForm">Account</a></li>
        <li><a class="nextPage my_btn" href="http://localhost:3000/admin">Admin</a></li>
    </ul>
    <p class="content">
       {{content}}
    </p>
</div>

