<header class="header">
    <h1 class="title ">{{title}}</h1>
</header>
<div class="section">
    <a class="center my_btn" href="http://localhost:3000/home">main menu</a>
</div>
<p class="content">
    {{content}}
</p>
