<div class="pageAdmin">
    <div class="sectionLeft">
        <a class="my_btn" href="http://localhost:3000/home">main menu</a>
    </div>
    <header class="header4">
        <h1 class="title">{{title}}</h1>
    </header>
    <div class="sectionData">
        <p class="content">
            {{msg}}
        </p>
    </div>
    <div class="section">
        <a class="my_btn" href="http://localhost:3000/admin">ok</a>
</div>
</div>